
/* @import url(https://fonts.googleapis.com/css?family=Sigmar+One); */

.app-container {
  display: flex;
  align-items: center;
  /* height: 100vh; */
  width: 100vw;
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  /* background-image: url("./assets/background.jpg"); */
  /* font-family: 'Sigmar One'; */
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.overlay-container{
  width: 100vw;
  /* height: 100vh; */
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: #ffffff;
}

h2{
  color: #efe6ad !important;
  font-size: 2rem;
  
  text-align: center;
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  text-align: left;
  /* gap:1rem; */
  font-size: 1rem !important;
  font-weight: 300;
  z-index: 10001;
  /* height: fit-content; */
  width: 70vw;
  height: 100%;
  padding: 1rem;
  margin: auto;
 background: #000000;
 color: #ffffff !important;
 border-radius: 10px;
 /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

}
.modal-container h2{
  font-size: 2rem;
  color: #ffffff !important;
  padding: 0;
  margin: 0;
  /* margin-bottom: 20px; */
  /* text-align: center; */
}
.modal-overlay {
  position: fixed; /* Full screen overlay */
  padding: 2rem auto ;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  background-color: black;
  z-index:10000 ;
  overflow: scroll !important;
}
.sub-title{
  margin: .5rem;
}
.detail{
  font-weight: 300 !important;
  padding: 0;
  margin: .5rem;
}
.details{
  margin: 1rem;
}
.title {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  text-align: center;
  -webkit-text-stroke: black 1.5px;
}

.pay-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #097969;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-icon {
  width: 2rem; 
  /* height: 24px; */
  margin-right: 1rem; 
  color: #ffffff;
}
.pay-button:hover {
  background-color: #097969;
  transform: scale(1.05);
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
}

.pay-button:active {
  background-color: #097969;
  transform: scale(1);
}

@media screen and (min-width:1500px){
  .overlay-container{
    align-items: center;
  }
  .modal-container{
    font-size: 1.5rem !important;
  }
  .app-container{
    /* overflow-x: hidden; */
  }
}